
<div class="container">
    <div class=" jumbotron">
      <h4 class="headings">
        Requirement
      </h4>
      <ol>
        <li>Install Node js</li>
        <li>Install MongoDB</li>
        <li>Install Angular cli </li>
        
      </ol>
      <h4 class="headings">Description </h4>
      <ul>
          <li>this Assignment develoed using meanStack</li>
          <li>To run this program you have to use some step these step are as</li>
      </ul>
      
      <h4 class="headings">
          Client Side 
        </h4>
      <ol>
                <li> install angular cli usning npm 'npm install @angular/cli'</li>
                <li>then create new project using ng command 'ng new projectName'</li>
                <li>genrate component using this command 'ng g component componentName'</li>
                <li>genrate service using this command 'ng g service serviceName'</li>
      </ol>
      <br>
      <h4 class="headings">
        Server Side 
        </h4>
        <ol>
          <li>Install  "express": "~4.16.0", using npm</li>
          <li>Install  "body-parser": "^1.18.3", using npm</li>
          <li>Install "cookie-parser": "~1.4.3",using npm</li>
          <li>Install "cors": "^2.8.4",using npm</li>
          <li>Install  "mongoose": "^5.2.9",using npm</li>
          <li>Install  "debug": "~2.6.9",using npm</li>
        
        </ol>
        <h4 class="headings">
            Dtabase 
          </h4>
          <ol>
            <li>Install and create data base in mongo db</li>
            <li>Create data base using this command 'use databaseName'</li>
          </ol>
    </div>
  </div>
  